<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <script>
        let Data;
        const catergories = {
            1: 'Elektronika',
            2: 'Meble',
            3: 'Kosmetyki',
            4: 'Jedzenie',
            5: 'Ubrania',
            6: 'Zabawki',
            7: 'Sport',
            8: 'Książki',
            9: 'Narzędzia',
            10: 'RTV'
        }
        let createProductCard = (item) => {

            const div = $('<div>').addClass('col-lg-3 col-md-5 col-sm-5 mb-4');
            const card = $('<div>').addClass('card');
            const cardHeader = $('<div>').addClass('card-header img-atas').css('background-image',
                `url('https://picsum.photos/300/100')`).css('background-position', '50% 10%');
            const cardBody = $('<div>').addClass('card-body');
            const row1 = $('<div>').addClass('row');
            const h5 = $('<h5>').text(item.product_name);
            const row2 = $('<div>').addClass('row');
            const h6 = $('<h6>').addClass('text-secondary').text(catergories[item.category_id]);
            const row3 = $('<div>').addClass('row');
            const div2 = $('<div>').addClass('d-flex justify-content-between');
            const p1 = $('<p>').addClass('text-primary').text(item.product_description.substring(0, 29));
            const p2 = $('<p>').addClass('text-warning');
            const input = $('<input>').addClass('btn btn-primary').attr('data-property', 'add_tolist').attr('type',
                    'button')
                .attr('value', 'Dodaj').attr('data-product-id', item.id_product)
            p2.append(input);
            div2.append(p1).append(p2);
            row3.append(div2);
            row2.append(h6);
            row1.append(h5);
            cardBody.append(row1).append(row2).append(row3);
            card.append(cardHeader).append(cardBody);
            div.append(card);
            return div;
        }

        $(document).ready(function () {
            $.each(catergories, function (i, item) {
                $('select').append($("<option>", {
                    value: i,
                    text: item
                }))
            });
            let _dataItems = [];
            let private_item = $('<div>').addClass('col-xl-3 col-lg-4 col-md-6 col-12 mb-4')
                .append($('<div>').addClass('card')
                    .append($('<div>').addClass('card-body')
                        .append($('<h3>').addClass('card-title').text('Nowy element'))
                        .append('Nazwa: ')
                        .append($('<input>').addClass('form-control mb-2').attr('id', 'priv_item').attr(
                            'placeholder', 'Nazwa przedmiotu'))
                        .append($('<input>').addClass('btn btn-primary mt-2').attr('id', 'add_tolist').attr(
                                'type', 'button').attr('value', 'Dodaj')
                            .attr('data-product-id', '9999')
                            .attr('data-product-name', $('#priv_item').val())
                            .attr('data-product-category', $('#privItem_category').val())
                            .attr('data-product-quantity', 1)
                        )
                    )
                );


            let loadData = (param, _category) => {
                $.ajax({
                    url: '../get_products.php',
                    dataType: 'json',
                    method: 'POST',
                    data: {
                        query: param,
                        category: _category
                    },
                    beforeSend: function () {
                        $("#loading-image").show();
                    },
                    success: function (data) {
                        Data = data
                        console.log(data);
                        let content = $('#objects').empty()
                        content.append(private_item)
                        $.each(data, function (i, item) {
                            const productCard = createProductCard(item);
                            content.append(productCard);
                        })
                        $("#loading-image").hide();

                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR, exception);

                    }
                })

            }

            loadData()

            const $searchInput = $('#searchItem');
            const $categorySelect = $('#categorySelect');

            $searchInput.add($categorySelect).on('input', function () {

                const searchQuery = $searchInput.val().trim().toLowerCase();
                const categoryQuery = $categorySelect.val();
                console.log(searchQuery);

                loadData(searchQuery.length > 0 ? searchQuery : '', categoryQuery !== '0' ?
                    categoryQuery : '');


            });

            let list1 = {
                list_name: '',
                end_date: '',
                products: [{
                    product_id: '',
                    product_title: '',
                    qty: ''
                }]
            };

            let list = {
                list_name: '',
                end_date: '',
                products: []
            };

            $(document).on("click", "input[data-property='add_tolist']", function () {
                const index = $(this).data('data-product-id');
                
                console.log(product_data);
                
            })

        })
    </script>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Uwaga!</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Zamknij"></button>
                </div>
                <div class="modal-body">
                    Nie wypełniłeś wszystkich pól!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Listy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="views/createList.php">Kreator list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="views/createProduct.php">Kreator produktów</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-9" style="background-color: #F4F4F4; border-top-right-radius: 1rem">
                <div class="container py-4 px-4">
                    <form class="row g-3 needs-validation" novalidate>
                        <div id="listName_" class="col-md-3">
                            <label for="listName" class="form-label">Nazwa Listy</label>
                            <input type="text" class="form-control" id="listName" required>
                            <div class="invalid-feedback">
                                Podaj nazwę listy!
                            </div>
                        </div>
                        <div id="endDate_" class="col-md-3">
                            <label for="endDate" class="form-label">Data zakończenia</label>
                            <input type="date" class="form-control" id="endDate" required>
                            <div class="invalid-feedback">
                                Podaj nazwę listy!
                            </div>
                        </div>
                        <div id="searchItem_" class="col-md-4">
                            <label for="searchItem" class="form-label">Wyszukaj element z listy</label>
                            <input type="search" class="form-control" id="searchItem" aria-label="Search"
                                placeholder="Wyszukaj po nazwie">
                        </div>
                        <div class="col-md-2">
                            <label for="categorySelect" class="form-label">Kategoria</label>
                            <select id="categorySelect" class="form-select">
                                <option selected value="0">Wszystkie</option>
                            </select>
                        </div>
                    </form>
                    <div id="objects" class="row m-0 mt-5"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="container pt-4">
                    <h3 id="list_name">Nazwa Listy</h3>
                    <span id="end_date">Data zakończenia</span>
                    <hr class="hr1" />
                    <div id="list_elements" class="px-3 py-3" style="background-color:#D9D9D9"></div>
                    <hr class="hr1" />
                    <button type="submit" id="crateList_button" class="btn btn-primary">Uwtórz listę</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>