<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../assets/script.js"></script>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <section id="lists-section">
        <form class="row g-3 needs-validation" novalidate>
            <div id="searchItem_" class="col-md-4">
                <label for="searchItem" class="form-label">Wyszukaj element z listy</label>
                <input type="search" class="form-control" id="search" aria-label="Search" placeholder="Wyszukaj po nazwie">
            </div>
            <div class="col-md-2">
                <label for="categorySelect" class="form-label">Kategoria</label>
                <select id="categorySelect" class="form-select">
                    <option selected value="0">Wszystkie</option>
                    
                </select>
            </div>
        </form>
        <div id="objects" class="row m-0 mt-5"></div>
    </section>

    <section id="activity-section">
        <h2 class="me-4">
            <span class="fw-light">Witaj,</span>
            <br>
            <span><strong>Gracjan</strong></span>
        </h2>
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 144px;" alt="Avatar" />
        <hr class="hr" />
        <h2 class="me-4">
            <span class="fw-light">Witaj,</span>
            <span><strong>Gracjan</strong></span>
        </h2>
    </section>
    <script>
        alert("test")
        $("#search").on("keyup change",function(){
        let inputVal = $(this).val();
        console.log(inputVal);
        if (inputVal.length != "") {
            loadData(inputVal)
        }else{
            loadData()
        }
    })
    </script>
</body>
</html>